<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "MovieStore - Online movies" %></title>
    <link rel="shortcut icon" href="<%=asset_path("logo.png")%>" >


    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <nav class="top-bar column" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1>
              <a href="/">
                <i class="fi-play-video"></i> MovieStore
              </a>
            </h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <%if signed_in?%>
              <li><%=link_to current_user.email, edit_user_registration_path%></li>
              <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
            <%else%>
              <li><%=link_to "Register", new_user_registration_path%></li>
              <li><%=link_to "Login", new_user_session_path%></li>
            <%end%>
          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <li class="has-form">
              <div class="row collapse">
                <div class="large-8 small-9 columns">
                  <input type="text" class="radius-left expand" placeholder="Find Movie">
                </div>
                <div class="large-4 small-3 columns">
                  <a href="#" class=" radius-right button">Search</a>
                </div>
              </div>
            </li>
          </ul>
        </section>
      </nav>
    </div>

    <%= render "layouts/alerts" %>
    <div id="main-content" class="row full-min-height">
      <%= yield %>
    </div>

    <footer class="row">
      <div class="large-12 columns">
        <hr>
        <p>© MovieStore 2014</p>
      </div>
    </footer>

    <%= javascript_include_tag "application" %>
  </body>
</html>
